---
import List from "../../components/List.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Pokemon Sansaar | All Pokemons">
  <main class="px-[12.5%] flex items-center justify-center flex-col">
    <List />
  </main>
</Layout>
