---
import List from "../../components/List.tsx.tsx";
import PokemonList from "../../components/PokemonList.tsx";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="List of All Pokemons">
  <main class="px-[12.5%] flex items-center justify-center flex-col">
    <List />
  </main>
</Layout>
