---
const links = [
  { id: 1, href: "pokemon-species", link: "Species" },
  { id: 2, href: "type", link: "Type" },
  { id: 3, href: "abilities", link: "Abilities" },
];
---

<nav
  class="flex z-50 items-center justify-between bg-white px-4 md:px-[12.5%] py-3 sticky top-0"
>
  <a href="/">
    <h3 class="after:block after:content-['Sansaar']">Pokemon</h3>
  </a>

  <ul class="flex items-center gap-12 text-sm md:text-base">
    {
      links.map(({ href, link }) => (
        <li>
          <a href={`/${href}`}>{link}</a>
        </li>
      ))
    }
  </ul>
</nav>
