---
const response = await fetch("https://pokeapi.co/api/v2/pokemon/");
const responseJson = await response.json();
const results = responseJson.results;
---

<h1>All Pokemons</h1>

<ul>
  {
    results.map((result) => (
      <li>
        <a href={`/${result.name}`}>{result.name}</a>
      </li>
    ))
  }
</ul>
